<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailer</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/popper/popper.js"></script>
</head>
<body>
    {{> navbar}}
    <div class="container">
        <div class="row">
            <div class="col">
                {{{body}}}
            </div>
        </div>
    </div>
</body>
</html>